@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}



html {
    background-image: url(/images/Mars_opportunity.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;


}
body {
    font-family: Roboto Mono, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    margin:auto;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    background: radial-gradient(rgba(192, 52, 21, 0.4) 40%, rgb(0,0,0)) center / cover;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height:100vh;
}

.header {
    margin: 0;
}

.header h1 {
    color: #ece9e9;
}


 .show {

    
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(0,0,0, 0.6);
    max-width: 170px;
    height: 40px;
    margin: auto;
    margin-top:30px;
    border-radius: 20px;
    color: rgb(175, 184, 183);
}

.show button {
    border: none;
    font-weight: 600;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

 .show > div  {
align-self: center;
}

.game-content {
    margin: 0;
    margin-top:50px;
    padding:0;
}

#game-tiles-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    align-content: center;
    

}


.tile-outer-container {

    border: 3px solid rgba(215, 228, 227, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;


}

.tile-outer-container:nth-of-type(1), .tile-outer-container:nth-of-type(2), .tile-outer-container:nth-of-type(3) {
    border-top: 0;
}
.tile-outer-container:nth-of-type(7), .tile-outer-container:nth-of-type(8), .tile-outer-container:nth-of-type(9) {
    border-bottom: 0;
}
.tile-outer-container:nth-of-type(1), .tile-outer-container:nth-of-type(4), .tile-outer-container:nth-of-type(7) {
    border-left: 0;
}

.tile-outer-container:nth-of-type(3), .tile-outer-container:nth-of-type(6), .tile-outer-container:nth-of-type(9) {
    border-right: 0;
}




.game-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width: 100px;
}


#game-container .hide div  {
    display: none;
}

.hide {
    /* border: none; */
    height:0;
    color: transparent;
}

.hide .tile-outer-container {
    display: none;
    height: 0;
}

#resetBtn {
    background-color: transparent;
}

#xIcon {
    color: rgb(175, 184, 183);
    background: radial-gradient(rgba(190, 72, 39, 0.35), rgba(80, 16, 2, 0.6) 80%);




}

#oIcon {
    color: rgb(114, 43, 23);
    background: radial-gradient(rgba(231, 192, 185, 0.35), rgba(175, 184, 183, 0.4) 80%);



}

.material-symbols-outlined {
    font-variation-settings: "wght" 300; /* Default is 400, try 500, 600, or 700 for bolder */
    font-size: 24px; /* Adjust size as needed */
}
/* Optional: Target specific icons */

#oIcon, #xIcon {
    font-size: 6rem;
    font-weight:lighter;
    padding:10px;
    border-radius: 20px;
    font-variation-settings: "wght" 200; /* Bolder weight */

}


