@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


body {
    font-family: Roboto Mono, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.header {
    margin: 0;
}


#game-outer-div {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ece9e9;
    max-width: 130px;
    height: 40px;
    margin: auto;
    margin-top:30px;
    border-radius: 20px;
}


#game-outer-div div {
align-self: center;
}

.game-content {
    margin: 0;
    margin-top:50px;
    padding:0;
}

#game-tiles-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    

}


.tile-outer-container {

    border: 2px solid black;
    font-size: 2.5rem;

}

.tile-outer-container:nth-of-type(1), .tile-outer-container:nth-of-type(2), .tile-outer-container:nth-of-type(3) {
    border-top: 0;
}
.tile-outer-container:nth-of-type(7), .tile-outer-container:nth-of-type(8), .tile-outer-container:nth-of-type(9) {
    border-bottom: 0;
}
.tile-outer-container:nth-of-type(1), .tile-outer-container:nth-of-type(4), .tile-outer-container:nth-of-type(7) {
    border-left: 0;
}

.tile-outer-container:nth-of-type(3), .tile-outer-container:nth-of-type(6), .tile-outer-container:nth-of-type(9) {
    border-right: 0;
}




.game-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width: 100px;
}

.hide {
    color: transparent
}